<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>911685528969-h7q9v2vcah82669pk986d17sp2uqd2nj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.911685528969-h7q9v2vcah82669pk986d17sp2uqd2nj</string>
	<key>API_KEY</key>
	<string>AIzaSyDK6l4E-dZP_mZrvQG0DCnedd7TQt5R44o</string>
	<key>GCM_SENDER_ID</key>
	<string>911685528969</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lulu.Dardasha</string>
	<key>PROJECT_ID</key>
	<string>dardashaapp-4300c</string>
	<key>STORAGE_BUCKET</key>
	<string>dardashaapp-4300c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:911685528969:ios:28f8fdb4753dbec1c38558</string>
</dict>
</plist>